[workspace]
members = ["jogger-core", "jogger-tui", "jogger-macos"]
resolver = "2"

[workspace.package]
version = "0.3.2"
edition = "2021"
license = "MIT"
repository = "https://github.com/BeesBoxler/jogger/"

